<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <p>Hello, <strong> <%= name %> </strong></p>
        <p>Welcome to our app. It will be a great journey together.</p>
        <p>We are here to help you. In case of any queries, let us know.</p>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>